@page "{searchString?}"
@model GamesData.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Index";
}
<form>

    <p class="text-left">
        <select asp-for="SelectGenre" asp-items="Model.GenresList">
            <option value="">All</option>
        </select>
        Game: <input type="text" asp-for="SearchGames" />
        <input type="submit" value="OK" />
    </p>
    <p1 class="text-right">
        <a asp-page="Create">Create New</a>
    </p1>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.GNameSort">
                    @Html.DisplayNameFor(model => model.GamesTable[0].NameGame)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.StudioSort">
                    @Html.DisplayNameFor(model => model.GamesTable[0].NameStudio)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.GamesTable[0].RelizeDate)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GamesTable)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameGame)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameStudio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelizeDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


